*{
    border: red 1px solid;
    
}

body {

    background-image: url("./images/pattern-background-desktop.svg") ;
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
    background-size: contain;
}


h1, h2, p{
    font-family: 'Red Hat Display', Montserrat, 'sans serif';
    color: hsl(223, 47%, 23%);
    text-align: center;
}

h1 {
    font-weight: 700px;
}

h2 {
    font-weight: 500px;
}

p {
    font-weight: 300px;
}

main {
    max-width: 375px;
    border-radius: 20px;
    background-color: white;
    display:flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    top:0;bottom:0;
    left:0;right:0;
}

.hero{
    max-width: 375px;
    border-radius: 20px 20px 0px 0px;
}

.text {
    padding: 0px 20px 0px 20px;
}

.pricebox{
    background-color: hsl(225, 100%, 98%);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    align-items: space-between;
}